<section class="about-us" id="about">
  <div class="container about-us-container">
    <div class="about-our-container">
      <h2 class="about-our-text">About us</h2>
      <h3 class="about-subtitle">
        Our craftsmanship: creating unique handmade furniture
      </h3>
      <p class="about-subtitle-our">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="about-list list">
        <li class="about-advantages">
          <h2 class="about-advantages-list">5+</h2>
          <p class="about-subtitle-list">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="about-advantages">
          <h2 class="about-advantages-list">100%</h2>
          <p class="about-subtitle-list">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="about-advantages">
          <h2 class="about-advantages-list">500+</h2>
          <p class="about-subtitle-list">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <div class="about-us-picture">
      <picture>
        <source
          srcset="./img/about-desk.jpg 1x, ./img/about-desk@2x.jpg 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="./img/about-tab.jpg 1x, ./img/about-tab@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/about-us-mobile.jpg 1x, ./img/about-us-mobile@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img
          src="./img/about-desk.jpg"
          alt="interior"
          class="about-picture"
          width="704"
        />
      </picture>
    </div>
  </div>
</section>
