<section class="bestsellers">
  <div class="container bestsellers-container">
    <h2 class="bestsellers-title">Bestsellers</h2>
    <div class="desktop-container">
      <div class="bestsellers-first-container">
        <picture>
          <source
            srcset="
              ./img/bestsellers-desk-1.jpg    1x,
              ./img/bestsellers-desk-1@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/bestsellers-tab-1.jpg    1x,
              ./img/bestsellers-tab-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/bestsellers-mobile-1.jpg    1x,
              ./img/bestsellers-mobile-1@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./img/bestsellers-desk-1.jpg" alt="bed" />
        </picture>
        <h3 class="underimage-title">The modern platform bed</h3>
        <p class="underimage-text">750$</p>
      </div>
      <div class="bestsellers-second-container">
        <ul class="bestsellers-list">
          <li class="bestsellers-item">
            <picture>
              <source
                srcset="
                  ./img/bestsellers-desk-2.jpg    1x,
                  ./img/bestsellers-desk-2@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/bestsellers-tab-2.jpg    1x,
                  ./img/bestsellers-tab-2@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/bestsellers-mobile-2.jpg    1x,
                  ./img/bestsellers-mobile-2@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img src="./img/bestsellers-desk-2.jpg" alt="two chairs" />
            </picture>
            <h3 class="underimage-title">The Cozy Lounge Chair</h3>
            <p class="underimage-text">230$</p>
          </li>
          <li class="bestsellers-item">
            <picture>
              <source
                srcset="
                  ./img/bestsellers-desk-3.jpg    1x,
                  ./img/bestsellers-desk-3@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/bestsellers-tab-3.jpg    1x,
                  ./img/bestsellers-tab-3@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/bestsellers-mobile-3.jpg    1x,
                  ./img/bestsellers-mobile-3@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img src="./img/bestsellers-desk-3.jpg" alt="chair and table" />
            </picture>
            <h3 class="underimage-title">The industrial accent chair</h3>
            <p class="underimage-text">250$</p>
          </li>
          <li class="bestsellers-item mobile">
            <picture>
              <source
                srcset="
                  ./img/bestsellers-desk-4.jpg    1x,
                  ./img/bestsellers-desk-4@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/bestsellers-tab-4.jpg    1x,
                  ./img/bestsellers-tab-4@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/bestsellers-mobile-1.jpg    1x,
                  ./img/bestsellers-mobile-1@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img src="./img/bestsellers-desk-4.jpg" alt="commode and lamp" />
            </picture>
            <h3 class="underimage-title">The sleek stand</h3>
            <p class="underimage-text">300$</p>
          </li>
          <li class="bestsellers-item mobile">
            <picture>
              <source
                srcset="
                  ./img/bestsellers-desk-5.jpg    1x,
                  ./img/bestsellers-desk-5@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/bestsellers-tab-5.jpg    1x,
                  ./img/bestsellers-tab-5@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/bestsellers-mobile-1.jpg    1x,
                  ./img/bestsellers-mobile-1@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img src="./img/bestsellers-desk-5.jpg" alt="sofa" />
            </picture>
            <h3 class="underimage-title">The minimalist sofa</h3>
            <p class="underimage-text">650$</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
