<footer class="footer">
  <div class="container footer-container">
    <div class="footer-social">
      <a href="#" class="footer-icon">
        <svg class="footer-logo">
          <use href="./img/icons-01.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a href="#" class="footer-social-link">
            <svg class="footer-social-svg">
              <use href="./img/icons-01.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#" class="footer-social-link">
            <svg class="footer-social-svg">
              <use href="./img/icons-01.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#" class="footer-social-link">
            <svg class="footer-social-svg">
              <use href="./img/icons-01.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="">About us</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="">Our products</a>
          </li>
          <li class="footer-header-list">
            <a class="footer-nav-link" href="">Prices</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="">Bestsellers</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="">Reviews</a>
          </li>
        </ul>
      </nav>
    <div class="footer-address-container">
      <address class="footer-address">
        <div>
        <ul class="footer-address-list">
          <li class="footer-address-item">
            <a
              class="footer-address-link"
              href="https://goo.gl/maps/tEJVUSLEsNcpUTvV9"
              target="_blank"
              >Obolonsky Prospect, 14, Kyiv</a
            >
          </li>
          <li>
            <a class="footer-address-link" href="#">Daily 10:00-21:00</a>
          </li>
        </ul>
    </div>
    <div class="tel-container">
        <ul class="footer-tel-list">
          <li class="footer-tel-item">
            <a class="footer-address-link" href="tel:+380669384758"
              >+380669384758</a
            >
          </li>
          <li class="footer-address-item">
            <a class="footer-tel-link" href="tel:+380679384758"
              >+380679384758</a
            >
          </li>
          <li class="footer-address-item email-mob">
            <a class="footer-tel-link" href="mailto:minimal.furniture@gmail.com"
              >minimal.furniture@gmail.com</a
            >
          </li>
        </ul>
    </div>
      </address>
    </div>
    <p class="footer-last-text">
      By using this website, you agree to the <a class="policy" href="#">Terms of Service</a> and <a class="policy" href="#">Privacy
        Policy</a>
    </p>
  </div>
</footer>
