<header class="header">
  <div class="header-container container">
    <a href="../index.html">
      <svg class="header-logo-icon" width="100" height="14">
        <use href="../img/icons-01.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-navigation">
      <ul class="header-menu list">
        <li><a href="" class="header-menu-item">About us</a></li>
        <li><a href="" class="header-menu-item">Our products</a></li>
        <li><a href="" class="header-menu-item">Prices</a></li>
        <li><a href="" class="header-menu-item">Bestsellers</a></li>
        <li><a href="" class="header-menu-item">Reviews</a></li>
        <li><a href="" class="header-menu-item">Contact</a>s</li>
      </ul>
    </nav>
    <button type="button" class="mob-menu-open" data-menu-open>
      <svg class="menu-icon" width="32" height="32">
        <use href="../img/icons-01.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <div class="mob-menu is-hidden" data-menu>
    <div class="mob-header">
      <div class="mob-menu-header container">
        <a href="../index.html">
          <svg class="mob-logo-icon" width="100" height="14">
            <use href="../img/icons-01.svg#icon-logo"></use>
          </svg>
        </a>
        <button type="button" class="mob-menu-close" data-menu-close>
          <svg class="mob-menu-icon" width="32" height="32">
            <use href="../img/icons-01.svg#icon-x"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="mob-menu-navigation container">
      <nav>
        <ul class="mob-menu-list list">
          <li>
            <a href="" class="mob-menu-item">About us</a>
          </li>
          <li>
            <a href="" class="mob-menu-item">Our products</a>
          </li>
          <li>
            <a href="" class="mob-menu-item">Prices</a>
          </li>
          <li>
            <a href="" class="mob-menu-item">Bestsellers</a>
          </li>
          <li>
            <a href="" class="mob-menu-item">Reviews</a>
          </li>
          <li>
            <a href="" class="mob-menu-item">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
