<section class="section-hero">
  <div class="container main-container">
    <div class="hero-images-one">
      <div class="title-container">
        <h1 class="title-one">Modern and minimalist furniture for you</h1>
      </div>
    </div>
    <div class="hero-images-two">
        <div>
            <p class="hero-text">
                Add a touch of elegance to your space with handcrafted furniture pieces
              </p>
              <a href="" class="subscribe-button button-container">Subscribe</a>
        </div>
      
    </div>
  </div>
</section>
