<section class="section-price" id="prices">
  <div class="container price-container">
    <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
    <ul class="price-list list">
      <li class="price-item">
        <a href="" class="price-title current">Chairs</a>
        <p class="price-text">from 200₴</p>
      </li>
      <li class="price-item">
        <a href="" class="price-title current">Tables</a>
        <p class="price-text">from 250₴</p>
      </li>
      <li class="price-item">
        <a href="" class="price-title current">Dressers</a>
        <p class="price-text">from 300₴</p>
      </li>
      <li class="price-item">
        <a href="" class="price-title current">Sofas</a>
        <p class="price-text">from 500₴</p>
      </li>
    </ul>
  </div>
</section>
