<section class="reviews" id="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-logo">Clients reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="reviews-card-1">
          <div class="card-content">
            <picture>
              <source
                srcset="
                  ./img/clients-desk-1.png    1x,
                  ./img/clients-desk-1@2x.png 2x
                "
                media="(min-width: 375px)"
              />
              <source
                srcset="
                  ./img/clients-mobile.png    1x,
                  ./img/clients-mobile@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="reviews-img"
                src="./img/clients-desk-1.png"
                alt="Alexandra Dream"
              />
            </picture>
            <div class="clients-info">
              <h3 class="reviews-clients">Alexandra Dream</h3>
              <p class="clients-data">1 week ago</p>
            </div>
          </div>
          <p class="clients-text">
            I was blown away by the quality and craftsmanship of the furniture I
            received from this company. Each piece was unique and beautifully
            designed, and you can tell that a lot of thought and care goes into
            every detail.
          </p>
        </div>
      </li>
      <li class="reviews-item">
        <div class="reviews-card-2">
          <div class="card-content">
            <picture>
              <source
                srcset="
                  ./img/clients-desk-2.png    1x,
                  ./img/clients-desk-2@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="reviews-img"
                src="./img/clients-desk-2.png"
                alt="James Williams"
              />
            </picture>
            <div class="clients-info">
              <h3 class="reviews-clients">James Williams</h3>
              <p class="clients-data">A week ago</p>
            </div>
          </div>
          <p class="clients-text">
            The "Minimal" furniture set is a fantastic addition to my home. It
            boasts a minimalist design, enhancing the feel and look of my living
            space. The sturdy construction is worth noting too, which speaks
            volumes about its durability.
          </p>
        </div>
      </li>
      <li class="reviews-item">
        <div class="reviews-card-3">
          <div class="card-content">
            <picture>
              <source
                srcset="
                  ./img/clients-desk-3.png    1x,
                  ./img/clients-desk-3@2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <img
                class="reviews-img"
                src="./img/clients-desk-3.png"
                alt="Emily Watson"
              />
            </picture>
            <div class="clients-info">
              <h3 class="reviews-clients">Emily Watson</h3>
              <p class="clients-data">3 week ago</p>
            </div>
          </div>
          <p class="clients-text">
            The "Minimal" furniture set has far exceeded my expectations. The
            sleek design combined with the high-quality materials have not only
            added an exceptional aesthetic to my space but also offered an
            uncompromising standard of comfort.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
