.about-us {
  padding-top: 64px;
  background: #f7faff;
}

.about-our-text::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 30px;
    height: 1px;
    background-color: #0a224a;
}
.about-our-text {
  color: #0a224a;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 45px;
  margin-bottom: 30px;
  position: relative;
}

.about-subtitle {
  color: #0a224a;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media (max-width: 375px) {
  .about-subtitle {
    font-size: 26px;
    text-align: left;
  }
}

.about-subtitle-our {
  color: #0a224a;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}

.about-list {
  max-width: 170px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 30px;
}

.about-advantages-list {
  color: #0a224a;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.about-subtitle-list {
  color: #0a224a;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.about-us-picture {
  margin-top: 64px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }

  .about-subtitle {
    text-align: left;
    min-width: 343px;
  }

  .about-subtitle-our {
    min-width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 96px;
    padding-right: 96px;
  }

  .about-our-container {
    background-color: #f7faff;
    padding: 36px 64px;
  }

  .about-us {
    background-color: #ffffff;
    padding-top: 100px;
  }

  .about-us-picture {
    margin-top: 30px;
  }

  /* .about-our-text {
    margin-bottom: 0;
  } */

  .about-subtitle {
    font-size: 32px;
    line-height: 1.41;
    margin: 30px 0;
  }

  .about-subtitle-our {
    min-width: 576px;
    font-size: 18px;
  }

  .about-list {
    max-width: 100%;
    justify-content: center;
    flex-direction: row;
    gap: 33px;
  }

  .about-advantages {
    width: 170px;
  }

  .about-subtitle-list {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .about-us-container {
    display: flex;
    gap: 24px;
  }

  .about-us {
    padding-top: 100px;
  }

  .about-our-container {
    padding-left: 69px;
    padding-right: 69px;
    padding-top: 36px;
  }

  .about-subtitle {
    max-width: 622px;
  }

  .about-subtitle-our {
    max-width: 622px;
  }

  .about-us-picture {
    margin-top: 0;
    width: 536px;
  }
}
