.bestsellers {
  padding-bottom: 64px;
}

.bestsellers-title {
  color: var(--blue-color);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 21px;
}

.underimage-title {
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 14px;
  margin-bottom: 10px;
}
.underimage-text {
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.bestsellers-item {
  margin-top: 30px;
}
.mobile-b {
  display: none;
}
img {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .mobile-b {
    display: block;
  }

  .bestsellers {
    padding-bottom: 100px;
  }

  .bestsellers-first-container {
    margin-bottom: 32px;
  }

  .bestsellers-title {
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 30px;
  }

  .underimage-title {
    font-size: 18px;
    margin-top: 15px;
  }

  .underimage-text {
    font-size: 18px;
  }
  .bestsellers-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  .bestsellers-item {
    width: calc((100% - 32px) / 2);
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .bestsellers-container {
    width: 1096px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .bestsellers-first-container {
    width: 101%;
    margin-bottom: 0;
  }

  .bestsellers-second-container {
    width: 100%;
  }

  .desktop-container {
    display: flex;
    gap: 24px;
  }

  .bestsellers-list {
    gap: 20px;
    row-gap: 30px;
  }

  .bestsellers-item {
    width: calc((100% - 20px) / 2);
  }
}
