/*?----------------SUBSCRIPTION---------------*/

.subscription {
  font-family: 'Roboto', sans-serif;
  color: #0a224a;
  background-color: #ffffff;
  padding-top: 64px;
  padding-bottom: 64px;
}

/* .subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
} */

.subscription-div {
  margin-bottom: 30px;
}

.subscription-title {
  text-align: center;
  padding-top: 0;
  color: var(--blue-color, #0a224a);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------*/

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.subscription-subtitle {
  color: var(--blue-color, #0a224a);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.subscription-imput-div {
  margin-bottom: 20px;
  position: relative;
}

.subscription-input {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  color: var(--blue-color, #0a224a);
  border: 1px solid var(--silver-color, #b6b6b6);
  background-color: transparent;
  padding: 11px 20px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: transparent;*/
  outline: transparent;
}

.subscription-input::placeholder {
  color: var(--light-grey-color, #d9d9d9);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}

.subscription-input:hover,
.subscription-input:focus {
  border: 1px solid #0a224a;
  color: var(--blue-color, #0a224a);
}

.subscription-input:invalid {
  border: 1px solid #e74a3b;
  color: #e74a3b;
}

.subscription-error-icon {
  position: absolute;
  bottom: 100%;
  top: +25%;
  left: 90%;
  visibility: hidden;
}

.subscription-input:invalid + .subscription-error-icon {
  fill: #e74a3b;
  position: absolute;
  bottom: 100%;
  top: +25%;
  left: 90%;
  visibility: visible;
}

.subscription-check-div {
  margin-bottom: 32px;
}

.subscription-check-text {
  color: #7a7a7a;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}

@media (max-width: 324px) {
  .subscription-check-text {
    font-size: 15px;
  }
}

.subscription-check-span {
  margin-right: 8px;
  display: inline-flex;
  width: 25px;
  height: 25px;
  border: 1px solid #b6b6b6;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-check:checked + .subscription-check-text span {
  background-color: #0a224a;
  border: none;
  fill: #fff;
}

.subscription-form-btm {
  display: block;
  min-width: 224px;
  height: 50px;
  background-color: var(--blue-color, #0a224a);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration: none;
  color: var(--white, #fff);
  position: relative;
  overflow: hidden;
}

.subscription-form-btm:hover,
.subscription-form-btm:focus {
  background-color: #061835;
}

.subscription-form-btm:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 950ms;
}

.subscription-form-btm:hover:before {
  left: 100%;
}

.subscription-form-btm-link {
  color: var(--white-color, #ffffff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration: none;
}

.subscription-img {
  display: flex;
  width: 100%;
}

/* @media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
} */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .subscription {
    padding: 100px 0;
  }

  .subscription-div {
    margin-bottom: 64px;
  }

  .subscription-title {
    text-align: left;
    font-size: 32px;
    line-height: 1.4em;
    margin-bottom: 30px;
  }

  .subscription-subtitle {
    font-size: 18px;
    max-width: 536px;
  }

  .subscription-input {
    display: flex;
    max-width: 536px;
    margin-left: 0;
  }

  .subscription-check-text {
    font-size: 18px;
  }

  .subscription-check-div {
    margin-bottom: 30px;
  }

  .subscription-check {
    border: 1px solid #b6b6b6;
  }

  .subscription-form-btm-link {
    font-size: 18px;
    line-height: 1.33em;
  }

  .subscription-img {
    display: block;
    width: 704px;
    height: 396px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .subscription {
    padding-top: 100px;
    padding-bottom: 86px;
  }

  .subscription-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .subscription-div {
    padding: 0;
    justify-content: start;
    margin-right: 0;
    margin-bottom: 0;
  }

  .subscription-title {
    margin-top: 0;
    margin-bottom: 31px;
  }

  .subscription-form-btm:hover,
  .subscription-form-btm:focus {
    background-color: #061835;
  }

  .subscription-img {
    display: block;
    width: 460px;
    height: 410px;
    margin-left: 100px;
    margin-bottom: 0;
  }
}
